<section class="ebooks-page-container">
  <div class="ebooks-page">
    <div>
      <h3>Catégorie : Zéro-déchet</h3>
      <a routerLink="/zero-dechet"
        ><img src="../../assets/eco-earth.png" alt="" width="70px"
      /></a>

      <p>Gaspillez moins !</p>
    </div>

    <div>
      <h3>Catégorie : Recettes écologiques</h3>
      <a routerLink="/recettes"
        ><img src="../../assets/human.png" alt="" width="70px"
      /></a>

      <p>Dépensez-moins en le faisant vous-même !</p>
    </div>

    <div>
      <h3>Catégorie : J'ai essayé !</h3>
      <a routerLink="/essayer"
        ><img src="../../assets/ecology.png" alt="" width="70px"
      /></a>

      <p>C'est beau d'en parler mais est-ce que c'est faisable ?</p>
    </div>
  </div>
</section>
