<section class="ebooks-page-container">
  <div class="ebooks-page">
    <div>
      <h3>Challenge 7 jours</h3>
      <a routerLink="/challenge-seven"
        ><img src="../../assets/seven.png" alt="" width="70px"
      /></a>

      <p>Une semaine de nouvelles habitudes !</p>
    </div>

    <div>
      <h3>Challenge 10 jours</h3>
      <a routerLink="/challenge-ten"
        ><img src="../../assets/ten.png" alt="" width="70px"
      /></a>

      <p>Dix jours pour mieux vivre !</p>
    </div>

    <div>
      <h3>Challenge 30 jours</h3>
      <a routerLink="/challenge-thirty"
        ><img src="../../assets/thirty.png" alt="" width="70px"
      /></a>

      <p>Un mois pour tout changer !</p>
    </div>
  </div>
</section>
