.ebooks-page-container {
  width: 100%;
  height: 100%;
  overflow: scroll;
  .ebooks-page {
    width: 100%;

    .head {
      text-align: center;
      padding: 20px;
      background-color: rgb(255, 223, 80);
      box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
      h2 {
        margin: 0;
        margin-bottom: 10px;
      }
      a {
        img {
          transition: all 0.3s ease-in-out;
          cursor: pointer;
        }
        img:not(.highlight-card):hover {
          transform: translateY(-5px);
        }
      }
    }

    .last-videos-container {
      padding: 20px;
      width: 90%;
      margin: auto;
      .last-videos {
        display: flex;
        flex-wrap: wrap;
        .video-container {
          margin: 10px 10px 10px 0;
          background-color: white;
          padding: 10px;
          box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
          width: fit-content;

          .video-desc {
            p {
              margin: 5px;
              a {
                text-decoration: none;
                color: rgb(48, 48, 48);
              }
              a:hover {
                color: rgb(0, 92, 128);
              }
            }
          }
        }
      }
    }

    .youtube {
      padding: 20px;
      width: 90%;
      margin: auto;
      text-align: center;
    }
  }
}
