<section class="about-container">
  <img src="../../assets/unicorn.png" alt="" width="60px" />
  <p>Qui sommes-nous ?</p>

  <div class="letter-welcome">
    <p>Bonjour à tous !</p>
    <p>
      Nous sommes quatre : trois soeurs et un frère passionnés par le désir de
      mieux faire (dans la mesure du possible) pour que la planète soit la moins
      triste possible.
    </p>
    <p>
      Nous souhaitons partager ici nos astuces simples, rapides et économique de
      manière ludique pour que vous aussi vous ayez envie de vous y mettre !
    </p>
    <p>
      Tout ce qui est sur ce site est gratuit pour que ça soit accessible à tous
      !
    </p>

    <p class="signature">Merci pour votre attention et bonne visite !</p>
    <p class="signature">La mifa</p>
    <p class="signature">
      <img src="../../assets/girl.png" alt="" width="60px" />
    </p>
  </div>
</section>
