/* Big Screen */
@media (min-width: 801px) {
  .all-corpus {
    height: 100%;
    .corpus {
      display: flex;
      //START height - 60px of the header
      height: 100%;
      height: -webkit-calc(100% - 60px);
      height: -moz-calc(100% - 60px);
      height: calc(100% - 60px);
      //END height - 60px of the header
      .side-menu {
        width: 200px;
      }
      .router-outlet {
        width: 100%;
        width: -webkit-calc(100% - 200px);
        width: -moz-calc(100% - 200px);
        width: calc(100% - 200px);
      }
    }
  }
}

/* Small screen */
@media (max-width: 800px) {
  .all-corpus {
    height: 100%;
    .corpus {
      display: flex;
      //START height - 60px of the header
      height: 100%;
      height: -webkit-calc(100% - 60px);
      height: -moz-calc(100% - 60px);
      height: calc(100% - 60px);
      //END height - 60px of the header
      .side-menu {
        display: none;
      }
      .router-outlet {
        width: 100%;
      }
    }
  }
}
