<section class="ebooks-page-container">
  <div class="ebooks-page">
    <div class="head">
      <h2>Nos E-books</h2>
      <img src="../../assets/electronic-book.png" alt="" width="70px" />

      <p>Retrouvez-ici toutes les recettes vidéos rédigées !</p>
    </div>

    <div class="temporary">
      <img src="../../assets/attention.png" alt="" width="70px" />
      <p>Restez connectés ! Plus de liens arrivent bientôt !</p>
    </div>

    <div class="ebook">
      <h3>Recette de Lessive</h3>
      <p>
        Cliquez ci-dessous pour télécharger gratuitement la recette au format
        .pdf
      </p>
      <a
        href="https://drive.google.com/file/d/1n1JHHucCDZWOIUoQY2E7pAa07AzieFFz/view?usp=sharing"
        ><img src="../../assets/download.png" alt="" width="60px"
      /></a>
    </div>
  </div>
</section>
